<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Participant Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <div class="col-sm-9" style="margin: 80px 0px 0px 100px">
        <img src="/images/oci.jpg" title="Title: OCI" alt="Alt: OCI" th:class="img-responsive"/>
    </div>
</div>

<div class="container" th:include="lottery/countdowntimer">
    <p>countdown timer</p>
</div>

<div class="container" style="margin: 100px 0px 10px 150px">

    <div class="row">
        <div class="col-sm-6">
            <h1 align="center">Thank you</h1>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="col-sm-8">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-4 control-label" style="font-size: x-large">Name:</label>
                    <div class="col-sm-8">
                        <p class="form-control-static" th:text="${newParticipant?.name}" style="font-size: x-large">
                            Participant Name</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" style="font-size: x-large">Email:</label>
                    <div class="col-sm-8">
                        <p class="form-control-static" th:text="${newParticipant?.email}" style="font-size: x-large">
                            Participant Name</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" style="font-size: x-large">Win Chances:</label>
                    <div class="col-sm-8">
                        <p class="form-control-static" th:text="${winChances}" style="font-size: x-large">Chances To
                            Win</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>